body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}

.orange{
    color: orange;
}

.flex-container{
    display: flex;
}

.half-width1{
    width: 50%;
    padding-left: 7%;
    margin-top: 90px;
}

.half-width2 img{
    width: 90%;
    padding-left: 6%;
    margin-top: 40px;
}

.half-width4{
    width: 50%;
    padding-left: 6%;
    margin-top: 90px;
}

.half-width3 img{
    width: 92%;
    padding-left: 7%;
    margin-top: 40px;
    margin-bottom: 8%;
}

.half-width5{
    width: 50%;
    padding-left: 6%;
    margin-top: 10px;
    margin-bottom: 8%;
}

.half-width6{
    width: 50%;
    padding-left: 6%;
    margin-top: 10px;
    margin-bottom: 8%;
}

.link-button{
    
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 6%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    

}